{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-center-mt-2">Detail</h1>
      <img src="{{livre.image.url}}" alt="" style="max-width: 600px;">
      <h2>{{livre.title}}</h2>
      <p>{{livre.desc}}</p>
    </div>
    <div class="col-md-4">
      <h3 class="mt-2">les articles en relations</h3 class="mt-2">
      <div class="row">
        {%for liv in ler%}
        {% if liv.id != livre.id %}
        <div class="col-md-7 mb-1">
            <img src="{{liv.image.url}}" alt="" style="max-width: 160px">
          </div>
        <div class=" col-5">
          <strong><a href="{%url 'detail' liv.id %}" class="btn btn-primary" data-mdb-ripple-init>{{liv.title}}</a> </strong><br>
          {{liv.desc|truncatewords:8}}
        </div>
        {%endif%}
        {%endfor%}
      </div>

    </div>
  </div>
</div>



 {%endblock%}
